doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Dónde como hoy?
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/estilo.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='shortcut icon', href='imagenes/logo2.png', type='image/x-icon')
    script(src='js/header.js')
    script(src='js/modernizr.custom.js')
  body
    header1
      nav.navbar.navbar-inverse
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Menú del día
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Bilbao 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Deusto
                  li
                    a(href='#') Basurto
                  li
                    a(href='#') Indautxu
                  li
                    a(href='#') Casco viejo
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Ordenar 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Por precio
                  li
                    a(href='#') Por calificacion
                  li
                    a(href='#') Por proximidad
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Filtrar 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Precio < 10€
                  li
                    a(href='#') Precio 10€-20€
                  li
                    a(href='#') Precio > 20€
                  li
                    a(href='#') Especial celíacos
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/reservas')
                  span.glyphicon.glyphicon-user
                  | Opiniones
             
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.glyphicon.glyphicon-log-in
                  |  Iniciar sesión
                .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                  // Login form here
                  form(action='/user/login', method='POST')
                    input#username.input-large(name='username', type='text', placeholder='Nombre de usuario')
                    input#password.input-large(name='password', type='password', placeholder='Contraseña')
                    button.btn.btn-primary(type='submit') Entrar
    #Filtro.container
      #slider
        .elemento
          p.gancho
            | ¡Come 
            strong sano
            |  y al mejor 
            strong precio!
        .elemento
          p.gancho
            | ¡Encontraras cientos de  
            strong sitios que desconocías!
        .elemento
          p.gancho
            | ¡Elige donde comer en
            strong  un solo vistazo !
    section
      .news
        h2 Recomendaciones
        article.post
          figure
            img(src='imagenes/tip.jpg', alt='')
          h3 La ventajas de comer productos de temporada
          p
            | Actualmente, podemos encontrar casi cualquier alimento de cualquier país en cualquier época del año. Entonces, ¿cuáles son las razones por las que tendríamos que seguir el calendario de los productos? Aquí tienes un video sobre lo que hay de temporada.
          video#video1.video-filter(controls='')
            source(src='imagenes/video1.mp4', video1='', mp4;='', codecs='avc.h264,avc.42E01E,mp4a.40.2')
      article.menu.barato
        figure
          img(src='imagenes/barPACO.jpg', alt='')
        span.tipo  9.75 €
        h2
          | Bar Casa Paco  
          br
          small (Calle San Cristóbal, 22)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00.
        button
          a.prueba(href='https://www.google.es/maps/place/RESTAURANTE+CASA+PACO/@42.5251433,-2.8482712,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xcb7dcca67e4ce5b7') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Garbanzos
            li Bacalao a la parrilla
            li Pastel de orujo
            li Pan
            li Agua o vino
        button
          a(href='/reservas/create')  Opinar 
      article.menu.medio
        figure
          img(src='imagenes/barjuan.jpg', alt='')
        span.tipo 15.25 €
        h2
          | Bar Juan II Terraza  
          br
          small (Calle Juan II de Aragón, 5)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/Bar+Terraza+Juan+II/@41.6347433,-0.9062831,17z/data=!3m1!4b1!4m2!3m1!1s0xd59152b1cb1b201:0xa9a844520ad0169d') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Pasta al punto
            li Rosada a la plancha
            li Fruta
            li Pan
            li Agua o vino
        button
          a(href='/reservas/create')  Opinar 
      article.menu.caro
        figure
          img(src='imagenes/lacuchara.jpg', alt='')
        span.tipo 25.50 €
        h2
          | Restaurante La cuchara  
          br
          small (Botica Vieja, 27)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/La+Cuchara+de+Euskalduna/@43.268602,-2.948794,17z/data=!3m1!4b1!4m2!3m1!1s0xd4e50235b91cbd5:0x9ab251dbeaf8f067') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Ensalada de judias
            li Pollo al ajillo
            li Tiramisú
            li Pan
            li Agua o vino
         button
          a(href='/reservas/create')  Opinar 
      article.menu.caro
        figure
          img(src='imagenes/bar5.jpg', alt='')
        span.tipo 30 €
        h2
          | Bar Calipso  
          br
          small (Calle del Monasterio de la Oliva, 21)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/Calipso/@42.8148278,-1.6645634,17z/data=!3m1!4b1!4m2!3m1!1s0xd509289a6787757:0xccb68367836daffd') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Garbanzos
            li Berenjenas rellenas
            li Bizcocho casero
            li Pan
            li Agua o vino
         button
          a(href='/reservas/create')  Opinar 
      article.menu.barato
        figure
          img(src='imagenes/bar4.jpg', alt='')
        span.tipo 5.90 €
        h2
          | Fatigas del querer  
          br
          small (Calle de la Cruz, 17)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/Fatigas+del+Querer/@40.415574,-3.7038088,17z/data=!3m1!4b1!4m2!3m1!1s0xd422880f4d1b955:0x15cac9b2f7164e7f') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Arroz con verduras
            li Rollitos de ternera
            li Tarta de chocolate
            li Pan
            li Agua o vino
         button
          a(href='/reservas/create')  Opinar 
      article.menu.barato
        figure
          img(src='imagenes/bar3.jpg', alt='')
        span.tipo 8.75 €
        h2
          | Bar Charly  
          br
          small (Plaza Nueva, 8)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/Bar+Charly/@43.258829,-2.9245167,17z/data=!3m1!4b1!4m2!3m1!1s0xd4e4fce64c8a6c3:0x436b2bcae506b9d8') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Garbanzos
            li Bacalao a la parrilla
            li Pastel de orujo
            li Pan
            li Agua o vino
         button
          a(href='/reservas/create')  Opinar 
      article.menu.medio
        figure
          img(src='imagenes/bar2.jpg', alt='')
        span.tipo 17.50 €
        h2
          | La viña  
          br
          small (Diputazio Kalea, 10)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/La+Vi%C3%B1a+del+Ensanche/@43.2616647,-2.9349149,17z/data=!3m1!4b1!4m2!3m1!1s0xd4e4fd7353e5cd3:0x62ad623d2912af42') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Lasaña de verduras
            li Escalopes de salmón
            li Mousse de chocolate
            li Pan
            li Agua o vino
         button
          a(href='/reservas/create')  Opinar 
      article.menu.medio
        figure
          img(src='imagenes/bar1.jpg', alt='')
        span.tipo 12.75 €
        h2
          | Natural  
          br
          small (Plaça d'Espanya, 8)
        p
          | Cocina casera al mejor precio con producto de temporada de lunes a viernes con horario de 12:00 a las 16:00. Nos encontramos en:
        button
          a.prueba(href='https://www.google.es/maps/place/%2BNatural/@39.5750352,2.6519078,17z/data=!3m1!4b1!4m2!3m1!1s0x12979253f8e95a7b:0x3fecf48a2bfd00fa') Ver mapa  
        div
          span
            strong  Menú del día
          ul
            li Ensalada césar
            li Hamburguesas griegas
            li Natillas caseras
            li Pan
            li Agua o vino
         button
          a(href='/reservas/create')  Opinar 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js', type='text/javascript')
    script(type='text/javascript').
      //<![CDATA[
      $(function(){
      $('#slider div:gt(0)').hide();
      setInterval(function(){
      $('#slider div:first-child').fadeOut(0)
      .next('div').fadeIn(1000)
      .end().appendTo('#slider');}, 5000);
      });
      //]]>
